body.town {
	background-image: url('town.jpg');
	color: yellow;
}
body.field {
	background-image: url('field.png');
	color: yellow;
}
body.tavern {
	background-image: url('tavern.jpg');
	color: yellow;
}
body.home {
	background-image: url('home1.jpg');
	color: yellow;
}